### AiCore Multinational Retail Data Centralisation Project

Milestone 4: Query the data using QL

Author: Kristina Gorkovskaya

Date: 2023-05-11

In [15]:
# Import libraries and connect to database

import pandas as pd
from database_utils import DatabaseConnector
from sqlalchemy import text

db_connector = DatabaseConnector("db_creds_sales_data.yaml")
db_connector.init_db_engine(autocommit=True)
engine = db_connector.engine


def execute(sql):
    '''Helper function for executing SQL and printing results.

    Arguments:
        sql (string): SQL query
    
    Returns:
        None'''
    with engine.connect() as con:
	    df = pd.read_sql_query(sql=text(sql), con=con)
    print(df)

Loading database credentials from file: db_creds_sales_data.yaml
Connecting to database: sales_data

1. How many stores does the business have and in which countries?

In [16]:
sql = '''
SELECT country_code, count(*) AS total_no_stores
FROM dim_store_details
GROUP BY country_code
ORDER BY country_code;
'''

execute(sql)

  country_code  total_no_stores
0           DE              141
1           GB              266
2           US               34

2. Which locations currently have the most stores?

In [17]:
sql = '''
SELECT locality, count(*) AS total_no_stores
FROM dim_store_details
GROUP BY locality
ORDER BY total_no_stores DESC
LIMIT 10;
'''

execute(sql)

       locality  total_no_stores
0    Chapletown               14
1        Belper               13
2        Bushey               12
3        Exeter               11
4  High Wycombe               10
5    Rutherglen               10
6      Arbroath               10
7      Surbiton                9
8       Lancing                9
9      Aberdeen                9

3. Which months produce the highest average cost of sales?

In [18]:
sql = '''
SELECT
	ROUND(CAST(SUM(spend) AS numeric), 2) AS total_sales,
	month
FROM (
	SELECT 
		ord.product_quantity * prod.product_price AS spend,
		dt.month
	FROM orders_table ord
	INNER JOIN dim_date_times dt
		ON ord.date_uuid = dt.date_uuid
	INNER JOIN dim_products prod
		ON ord.product_code = prod.product_code
) spend_per_order
GROUP BY month
ORDER BY total_sales DESC;
'''

execute(sql)

    total_sales month
0     673295.68     8
1     668041.45     1
2     657335.84    10
3     650321.43     5
4     645741.70     7
5     645463.00     3
6     635578.99     6
7     635329.09    12
8     633993.62     9
9     630757.08    11
10    630022.77     4
11    616452.99     2

4. How many sales are coming from online?

In [19]:
sql = '''
SELECT
	COUNT(*) AS numbers_of_sales,
	SUM(product_quantity) AS product_quantity_count,
	location
FROM (
	SELECT 
		ord.product_quantity,
		CASE
			WHEN st.store_type = 'Web Portal' THEN 'Web'
			ELSE 'Offline'
		END AS location
	FROM orders_table ord
	INNER JOIN dim_store_details st
		ON ord.store_code = st.store_code
) orders_per_location
GROUP BY location
ORDER BY location DESC;
''' 

execute(sql)

   numbers_of_sales  product_quantity_count location
0             26957                  107739      Web
1             93166                  374047  Offline